extend layout
block content
  script(type='text/javascript').
    (function(){
      $(document).ready(function(){
        Display.start({
          type:'#{type}',
          ip:'#{ip}'
        });
      });
    }());
  div(id='main-region')

