body {
  background:#fff;
}


.displays-list{
  text-align: center;
}

.displays-list li{
  border: 1px solid #ccc;
  height: 150px;
  width: 150px;
  margin: 0 10px;
  display: inline-block;
  cursor: pointer;

}
